<%= form_for user do |f| %>
	<div class="field">
		<label class="label">ユーザー名</label>
		<div class="control has-icons-left has-icons-right">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
	</div>
<% end %>