<section class="hero is-light">
	<div class="hero-body">
		<h1 class="title">
			掲示板一覧
		</h1>
	</div>
</section>

<div class="buttons has-addons is-right" padding-top:10px>
	<button class="button">新規作成</button>
</div>

<table class="table is-fullwidth is-right">
	<thead>
		<tr class="is-light">
			<th>ID</th>
			<th>タイトル</th>
			<th>作成者</th>
			<th>作成日時</th>
			<th>更新日時</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<th>1</th>
		<th>雑談掲示板</th>
		<th>2020年 1月18日</th>
		<th>1</th>
	</tr>
	</tbody>
</table>