<nav class="navbar" role="navigation" aria-labal="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="#">
			<h1 class="title">Djeeta</h1>
		</a>
		<div class="tabs ">
			<ul>
				<li class="is-active">  </li>
				<li ></li>
			</ul> 
		</div>
	</div>
</nav>

